.footer {
  padding-bottom: 60px;
  padding-top: 67px;
  color: #545454;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
}
.footer__copyright {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 595px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
